<div class="hero" style="height:230px;">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>Projets et ressources en agriculture urbaine</h1>
		</div>
    <div class='rounded-toggle inline'>
      <%= link_to "Carte des projets", projects_path, :class => "active" %>
      <%= link_to "Ajouter un projet", new_project_path %>
      <a href='#active3'>Ajouter un collectif</a>
    </div>
	</div>
</div>


<div class='col12 pad0y fill-gray'>
  <div id="sliding-panel" class='clip sliding col12 h active1 fill-gray dark center' style='height:400px;'>
    <div class='col12 animate'>
        <nav class='col4' style="height:400px;">
          <div class='radio-pill pill col12'>
            <input type='radio' name='typology' id='jardin' checked='checked'>
            <label for='jardin' class='col4 button icon check loud'>Jardin</label>
            <input type='radio' name='typology' id='ressource'>
            <label for='ressource' class='col4 button icon check'>Ressources</label>
            <input type='radio' name='typology' id='autres'>
            <label for='autres' class='col4 button icon check'>Autres projets</label>
          </div>
        </nav>
        <div id="map" class='col custom-popup' style="height:400px;" ></div>
    </div>
    <div class='col12 pad4 animate fill-darken1' style='height:400px;'>Waiting for ng-controller</div>
    <div class='col12 pad4 animate fill-darken2' style='height:400px;'>Waiting for ideas</div>
  </div>
</div>



<!-- <div id="map" class='col12 pad4 contain fill-navy dark'>
  <div class='center quiet'>
  	<div style="position:absolute; top:0; bottom:0; width:100%;"></div>
  </div>  
  <div class='col4 pad2 fill-darken1 pin-left'>
    Left panel with content
  </div>
</div> -->

<script>
  // var geojson = 
  //   {
  //     "type": "FeatureCollection",
  //     "features": [
  //       {
  //         "type": "Feature",
  //         "geometry": {
  //           "type": "Point",
  //           "coordinates": [
  //             -1.553621000000021,
  //             47.218371
  //           ]
  //         },
  //         "properties": {
  //           "name": "Projet test 1",
  //           "description": "Lorem ipsum",
  //           "marker-color": "#00607d",
  //           "marker-symbol": "circle",
  //           "marker-size": "medium"
  //         }
  //       },
  //       {
  //         "type": "Feature",
  //         "geometry": {
  //           "type": "Point",
  //           "coordinates": [
  //             -1.3938170000000127,
  //             47.295493
  //           ]
  //         },
  //         "properties": {
  //           "name": "Projet test 2",
  //           "description": "Lorem ipsum",
  //           "marker-color": "#00607d",
  //           "marker-symbol": "circle",
  //           "marker-size": "medium"
  //         }
  //       }
  //     ]
  //   };

var json = (function () {
  var json = null;
  $.ajax({
      'async': false,
      'global': false,
      'url': 'projects.geojson',
      'dataType': "json",
      'success': function (data) {
          json = data;
      }
  });
  return json;
})(); 

// Provide your access token
L.mapbox.accessToken = 'pk.eyJ1IjoicGxhbnRlLWV0LWNpdGUiLCJhIjoiV1NlYTVsbyJ9.RToSTFei8BJGSEkKk2EImw';
// Create a map in the div #map
var map = L.mapbox.map('map', 'plante-et-cite.2c752022')
	.setView([47.218, -1.553], 10)
	.featureLayer.setGeoJSON(json);
	
	
</script>

// <script>
// $(function() {
//     $('.tabs a').click(function() {
//         var tabgroup = $(this).parent();
//         var slidecontainer = tabgroup.next();
//         var tab = $(this).attr('href').split('#')[1];
//         $(this).addClass('active').siblings().removeClass('active');
//         var current = slidecontainer.attr('class').match(/active[0-9]+/);
//         if (current) slidecontainer.removeClass(current[0]);
//         slidecontainer.addClass(tab);
//         return false;
//     });
// });
// </script>

<script>
// $(function() {
//     $('.rounded-toggle a').click(function() {
//         var tabgroup = $(this).parent();
//         var slidecontainer = $("#sliding-panel"); //changer ça!
//         var tab = $(this).attr('href').split('#')[1];
//         $(this).addClass('active').siblings().removeClass('active');
//         var current = slidecontainer.attr('class').match(/active[0-9]+/);
//         if (current) slidecontainer.removeClass(current[0]);
//         slidecontainer.addClass(tab);
//         return false;
//     });
// });
</script>