<div class="hero" >
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>Projets et ressources en agriculture urbaine</h1>
			<p>Yo yo yo</p>	
		</div>
	</div>
</div>

<div class='grid'>
  <div class='col12 pad2y clearfix'>
    <div class='tabs col8 margin2 space-bottom'>
        <a href='#active1' class='col4 active'>Jardins</a>
        <a href='#active2' class='col4'>Ressources</a>
        <a href='#active3' class='col4'>Autres</a>
    </div>
    <div class='clip sliding col12 v active1 fill-green dark center' style='height:100px;'>
      <div class='col12 pad4 animate'>Jardins!</div>
      <div class='col12 pad4 animate fill-darken1'>Ressources!</div>
      <div class='col12 pad4 animate fill-darken2'>Autres!</div>
    </div>
  </div>
  <div class='col12 clearfix'>
    <nav class='col3 fill-darken1' style="height:400px;">

    </nav>
    <div id="map" class='col9' style="height:400px;" >
    </div>
  </div>
</div>


<!-- <div id="map" class='col12 pad4 contain fill-navy dark'>
  <div class='center quiet'>
  	<div style="position:absolute; top:0; bottom:0; width:100%;"></div>
  </div>  
  <div class='col4 pad2 fill-darken1 pin-left'>
    Left panel with content
  </div>
</div> -->

<script>
  // var geojson = 
  //   {
  //     "type": "FeatureCollection",
  //     "features": [
  //       {
  //         "type": "Feature",
  //         "geometry": {
  //           "type": "Point",
  //           "coordinates": [
  //             -1.553621000000021,
  //             47.218371
  //           ]
  //         },
  //         "properties": {
  //           "name": "Projet test 1",
  //           "description": "Lorem ipsum",
  //           "marker-color": "#00607d",
  //           "marker-symbol": "circle",
  //           "marker-size": "medium"
  //         }
  //       },
  //       {
  //         "type": "Feature",
  //         "geometry": {
  //           "type": "Point",
  //           "coordinates": [
  //             -1.3938170000000127,
  //             47.295493
  //           ]
  //         },
  //         "properties": {
  //           "name": "Projet test 2",
  //           "description": "Lorem ipsum",
  //           "marker-color": "#00607d",
  //           "marker-symbol": "circle",
  //           "marker-size": "medium"
  //         }
  //       }
  //     ]
  //   };
$( document ).ready(function() {
 $.ajax({
    dataType: 'text',
    url: '/projects.geojson',
    success: function(data) {
      var geojson;
      geojson = data;
      return geojson;
    }
  })
});
  // Provide your access token
  L.mapbox.accessToken = 'pk.eyJ1IjoicGxhbnRlLWV0LWNpdGUiLCJhIjoiV1NlYTVsbyJ9.RToSTFei8BJGSEkKk2EImw';
  // Create a map in the div #map
  L.mapbox.map('map', 'plante-et-cite.2c752022')
 
</script>

<script>
$(function() {
    $('.tabs a').click(function() {
        var tabgroup = $(this).parent();
        var slidecontainer = tabgroup.next();
        var tab = $(this).attr('href').split('#')[1];
        $(this).addClass('active').siblings().removeClass('active');
        var current = slidecontainer.attr('class').match(/active[0-9]+/);
        if (current) slidecontainer.removeClass(current[0]);
        slidecontainer.addClass(tab);
        return false;
    });
});
</script>