body {
  background-color: white;
  margin: 0;

  @include media($tablet) {
    background-color: gray;
  }

  @include media($desktop) {
    background-color: light-gray;
  } 
};

.grid-row {
  @include outer-container;

  .grid-cell {
    @include span-columns(12);
    @include media($tablet) {
      @include span-columns(6);
      @include position(relative);
    }

    @include media($desktop) {
      @include span-columns(6);
      @include position(relative);
      @include pad(25px 10px 25px 10px);
      height: auto;
    }
    .map {
      @include position(absolute, 0 0 0 0);
    }
  }

  .grid-single-cell {
    @include span-columns(12);
  }
}

// HERO CLASS MIXIN

.hero {  
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';
  height: 250px;


@include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }

    button {
      @include button(flat, $action-color);
      padding: 0.7em 1em;
    }
  }
}
// END OF HERO CLASS MIXIN



// FOOTER MIXIN
.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo img {
    height: 1.6em;
  } 

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;
    
    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    font-weight: 800;
    list-style: none;
    padding-right: 1em;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 0.8em;
      font-weight: 400;
    }

    ul.footer-social {
      margin: 1em 0 0 0;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
// END OF FOOTER MIXIN